#KW1C
{
    height: 15%;
    width: 15%;
}
body
{
    background-image: url("https://www.kw1c.nl/media/afdeling/banners/811-ict-academie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightskyblue;
}
#FontAwesome
{

}
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1px;
    background-color:rgb(27,132, 197);
}