#KW1C
{
    height: 15%;
    width: 15%;
}
body
{
    background-image: url("https://www.kw1c.nl/media/afdeling/banners/811-ict-academie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#FontAwesome
{

}