#KW1C
{
    height: 15%;
    width: 15%;
}
body
{
    background-image: url("https://www.kw1c.nl/media/afdeling/banners/811-ict-academie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightskyblue;
}
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid rgb(27,132, 197);
}
.background
{
    text-align: center;
    border: solid rgb(255, 0, 0) 10px;
    display:inline-block;
    background-color: rgb(102, 182,223);
}